<section
    class="settings-group"
    [class.settings-group--active]="activeSection() === 'dashboard'"
    id="dashboard"
    [formGroup]="form()"
>
    <header class="settings-group__header">
        <div class="settings-group__header-icon">
            <mat-icon>dashboard</mat-icon>
        </div>
        <div class="settings-group__header-text">
            <h3>{{ 'Dashboard' }}</h3>
            <p>
                {{ 'Choose which dashboard rails are shown in the workspace.' }}
            </p>
        </div>
    </header>

    <div class="setting-item">
        <div class="setting-item__meta">
            <h4>{{ 'Show dashboard' }}</h4>
            <p>
                {{
                    'Keep Dashboard available in the workspace rail. When disabled, Sources becomes the first workspace page.'
                }}
            </p>
        </div>
        <div class="setting-item__control setting-item__toggle">
            <mat-checkbox
                formControlName="showDashboard"
                data-test-id="toggle-show-dashboard"
            ></mat-checkbox>
        </div>
    </div>

    <div formGroupName="dashboardRails">
        <div class="setting-item">
            <div class="setting-item__meta">
                <h4>{{ 'Hero banner' }}</h4>
                <p>
                    {{ 'Show the large top banner for your most recent item.' }}
                </p>
            </div>
            <div class="setting-item__control setting-item__toggle">
                <mat-checkbox
                    formControlName="hero"
                    data-test-id="toggle-dashboard-hero"
                ></mat-checkbox>
            </div>
        </div>

        <div class="setting-item">
            <div class="setting-item__meta">
                <h4>{{ 'Continue Watching' }}</h4>
                <p>
                    {{
                        'Show recently watched movies and series as cover cards.'
                    }}
                </p>
            </div>
            <div class="setting-item__control setting-item__toggle">
                <mat-checkbox
                    formControlName="continueWatching"
                    data-test-id="toggle-dashboard-rail-continue-watching"
                ></mat-checkbox>
            </div>
        </div>

        <div class="setting-item">
            <div class="setting-item__meta">
                <h4>{{ 'Live now on your favorites' }}</h4>
                <p>
                    {{
                        'Show favorite live channels with current EPG progress.'
                    }}
                </p>
            </div>
            <div class="setting-item__control setting-item__toggle">
                <mat-checkbox
                    formControlName="liveFavorites"
                    data-test-id="toggle-dashboard-rail-live-favorites"
                ></mat-checkbox>
            </div>
        </div>

        <div class="setting-item">
            <div class="setting-item__meta">
                <h4>{{ 'Recently watched live TV' }}</h4>
                <p>
                    {{
                        'Show live channels you opened recently with current EPG progress.'
                    }}
                </p>
            </div>
            <div class="setting-item__control setting-item__toggle">
                <mat-checkbox
                    formControlName="recentlyWatchedLive"
                    data-test-id="toggle-dashboard-rail-recently-watched-live"
                ></mat-checkbox>
            </div>
        </div>

        <div class="setting-item">
            <div class="setting-item__meta">
                <h4>{{ 'Favorite movies & series' }}</h4>
                <p>
                    {{ 'Show favorited movies and series as cover cards.' }}
                </p>
            </div>
            <div class="setting-item__control setting-item__toggle">
                <mat-checkbox
                    formControlName="favoriteMoviesAndSeries"
                    data-test-id="toggle-dashboard-rail-favorite-movies-and-series"
                ></mat-checkbox>
            </div>
        </div>

        <div class="setting-item">
            <div class="setting-item__meta">
                <h4>{{ 'Recently used sources' }}</h4>
                <p>
                    {{
                        'Show shortcuts to your most recently used playlists and portals.'
                    }}
                </p>
            </div>
            <div class="setting-item__control setting-item__toggle">
                <mat-checkbox
                    formControlName="recentSources"
                    data-test-id="toggle-dashboard-rail-recent-sources"
                ></mat-checkbox>
            </div>
        </div>

        <div class="setting-item">
            <div class="setting-item__meta">
                <h4>{{ 'Recently added on Xtream' }}</h4>
                <p>
                    {{ 'Show the newest Xtream movies, series, and channels.' }}
                </p>
            </div>
            <div class="setting-item__control setting-item__toggle">
                <mat-checkbox
                    formControlName="xtreamRecentlyAdded"
                    data-test-id="toggle-dashboard-rail-xtream-recently-added"
                ></mat-checkbox>
            </div>
        </div>

        <div class="setting-item">
            <div class="setting-item__meta">
                <h4>{{ 'Trending this week (TMDB)' }}</h4>
                <p>
                    {{
                        'Show weekly trending movies and series from TMDB, matched against your libraries. Requires TMDB metadata to be enabled.'
                    }}
                </p>
            </div>
            <div class="setting-item__control setting-item__toggle">
                <mat-checkbox
                    formControlName="tmdbTrending"
                    data-test-id="toggle-dashboard-rail-tmdb-trending"
                ></mat-checkbox>
            </div>
        </div>
    </div>
</section>
