<section
    class="settings-group"
    [class.settings-group--active]="activeSection() === 'general'"
    id="general"
    [formGroup]="form()"
>
    <header class="settings-group__header">
        <div class="settings-group__header-icon">
            <mat-icon>settings</mat-icon>
        </div>
        <div class="settings-group__header-text">
            <h3>{{ 'General' }}</h3>
            <p>{{ 'Change the configuration of the application' }}</p>
        </div>
    </header>

    <div class="setting-item setting-item--full-control">
        <div class="setting-item__meta">
            <h4>{{ 'Visual theme' }}</h4>
            <p>{{ 'Select visual theme of the application' }}</p>
        </div>
        <div class="setting-item__control">
            <div
                class="theme-switcher"
                role="radiogroup"
                [attr.aria-label]="'Visual theme'"
                data-test-id="select-theme"
            >
                @for (themeOption of themeOptions(); track themeOption.value) {
                    <button
                        type="button"
                        class="theme-switcher__option"
                        [class.theme-switcher__option--selected]="
                            form().value.theme === themeOption.value
                        "
                        [attr.aria-checked]="
                            form().value.theme === themeOption.value
                        "
                        [attr.data-test-id]="themeOption.value"
                        role="radio"
                        (click)="selectTheme.emit(themeOption.value)"
                    >
                        <mat-icon>{{ themeOption.icon }}</mat-icon>
                        <span>{{ themeOption.labelKey }}</span>
                    </button>
                }
            </div>
        </div>
    </div>

    <div class="setting-item setting-item--full-control">
        <div class="setting-item__meta">
            <h4>{{ 'Cover size' }}</h4>
            <p>
                {{
                    'Adjust the size of poster cards across grids and rails. Larger sizes are easier to see on TVs; smaller sizes show more content per row on big monitors.'
                }}
            </p>
        </div>
        <div class="setting-item__control">
            <div
                class="theme-switcher"
                role="radiogroup"
                [attr.aria-label]="'Cover size'"
                data-test-id="select-cover-size"
            >
                @for (option of coverSizeOptions(); track option.value) {
                    <button
                        type="button"
                        class="theme-switcher__option"
                        [class.theme-switcher__option--selected]="
                            form().value.coverSize === option.value
                        "
                        [attr.aria-checked]="
                            form().value.coverSize === option.value
                        "
                        [attr.data-test-id]="'cover-size-' + option.value"
                        role="radio"
                        (click)="selectCoverSize.emit(option.value)"
                    >
                        <mat-icon>{{ option.icon }}</mat-icon>
                        <span>{{ option.labelKey }}</span>
                    </button>
                }
            </div>
        </div>
    </div>

    <div class="setting-item">
        <div class="setting-item__meta">
            <h4>{{ 'Startup view' }}</h4>
            <p>
                {{
                    'Choose whether TuHiN iPTV opens the first available workspace view or restores your last section-level view. First view means Dashboard when enabled, otherwise Sources.'
                }}
            </p>
        </div>
        <div class="setting-item__control">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>{{ 'Startup view' }}</mat-label>
                <mat-select
                    formControlName="startupBehavior"
                    data-test-id="select-startup-behavior"
                >
                    @for (
                        option of startupBehaviorOptions();
                        track option.value
                    ) {
                        <mat-option
                            [value]="option.value"
                            [attr.data-test-id]="option.value"
                        >
                            {{ option.labelKey }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="setting-item">
        <div class="setting-item__meta">
            <h4>{{ 'Show subtitles' }}</h4>
            <p>
                {{ 'Show or hide subtitles by default' }}
            </p>
        </div>
        <div class="setting-item__control setting-item__toggle">
            <mat-checkbox formControlName="showCaptions"></mat-checkbox>
        </div>
    </div>
</section>
